@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  margin: 0;
  /* font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif; */
  font-family: cubano, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(176deg,rgb(15,15,15) 50%,rgb(30,30,30) 100%);
  /* background: linear-gradient(160deg,rgb(4,29,44) 20%,rgb(3, 50, 145) 100%); */
  /* background-color: rgb(4,29,44); */
  background-color: rgb(15,15,15);
  min-height: 100vh;
  background-attachment: fixed;
  color: white;
}

p {
  margin: 0;
}

img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* Tester CSS*/
.noteshow {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #353535;
  font-size: 30px;
  line-height: 60px;
  color: #fff;
  box-shadow: rgba(3, 8, 20, 0.2) 0.25px 0.25rem 0.9rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  
  /* Important so the image doesn't cut*/
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.cardimg {
  background-color: whitesmoke;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center {
  display: grid;
  place-items: center;
}




.dropDown {
  opacity: 0;
  visibility: hidden;
}

button:focus-within .dropDown {
  opacity: 1;
  visibility: visible;
}










/* Main Page's CSS */
.pageset {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 1000px;
}

.sidebar {
  background-color: rgb(51,51,51);
  margin-right: 16px;
  margin-left: 16px;
  border-radius: 10px;
  margin-bottom: 16px;
}



/* Home Page CSS */
.logo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.logo-1 {
  display: block;
  font-size: 18px;
}

.logo-2 {
  font-size: 56px;
  font-weight: bold;
  display: block;
}

.logo-3 {
  letter-spacing: 20px;
  display: block;
}

.grid {
  display: grid;
  place-items: center;
  grid-template-rows: 1.7fr 3fr 0.2fr 1fr;
}

.drop {
  animation: dropIn 3s ease forwards;
}
@keyframes dropIn {
  from {transform: translateY(-200px);}
  to {transform: translateY(0);}
}



/* Header CSS */
.head {
  width: 100%;
  height: 64px;
  display: block;
}

.navbar {
  display: grid;
  place-items: center;
  grid-template-columns: 0.5fr 10fr 0.5fr;
  width: 100%;
  height: 64px;
  /* background-color: #fff; */
}

.center2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}

.navitem {
  padding-right: 8px;
  padding-left: 8px;
  padding-bottom: 11px;
  padding-top: 11px;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  line-height: 28px;
  white-space: nowrap;
}

a:hover {
  background-color: rgba(131, 131, 131, 0.129);
}

.langchange {
  color: rgb(255, 255, 255);
  line-height: 28px;
  margin-right: 20px;
}

.langchange:hover {
  border-bottom: 0.2px solid;
}



/* Footer CSS */
.footms {
  background-color: #f2f2f2;
  bottom: 0;
  width: 100%;
  padding-bottom: 7px;
  padding-top: 7px;
  position: relative;
}

.copyright {
  margin: 0;
  color: #616161;
  font-size: 11px;
  line-height: 16px;
  font-family: 'Segoe UI',SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.downbar {
  display: flex;
  box-sizing: border-box;
  padding: 0 16px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  letter-spacing: normal;
}

/* Works well for all browsers and window sizes */
.putfoot {
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
